.main {
  display: flex;
  justify-content: center;
  padding: 1rem 4rem;
  min-height: 100vh;
  background-color: #D3D3D3;
}

.container {
  display: flex;
  border-color: white;
  border-width: 1px;
  flex-direction: column;
}

.title {
  color: #363636;
  font-size: large;
  font-weight: bold;
}