.main {
  display: flex;
  justify-content: center;
  padding: 0 2.5rem;
  min-height: 100vh;
  background-color: #DCDCDC;
}

.container {
  background-color: #D3D3D3;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.title {
  color: #363636;
  font-size: large;
  font-weight: bold;
}